<h1 align="center">Emergency Contacts</h1>
<mat-divider></mat-divider>
<br><br><br>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
  <div fxFlex="10"></div>
  <div fxFlex="35">
    <h1 matSubheader align="center">Factory 1</h1>
      <div class="profile-card">
        <img src="https://cdn.iconscout.com/icon/free/png-256/manager-2506834-2130095.png" alt="Zbychu">
        <div class="header">
          <h2 class="uname">Zbyszek</h2>
          <h4 class="urole">tel. 605-475-6968</h4>
        </div>
      </div>
  </div>

  <div fxFlex="10"></div>
  <div fxFlex="35">
    <h1 matSubheader align="center">Factory 2</h1>
    <div class="profile-card">
      <img src="https://play-lh.googleusercontent.com/IMoUdHvS3SvyajU2bv1D5Df7-_LV-8GdAVQ-RQ6hmCgco3FDsDTD8t8qtJQJXrX8pWVK=s180-rw" alt="Stachu">
      <div class="header">
        <h2 class="uname">Staszek</h2>
        <h4 class="urole">tel. 206-569-5829</h4>
      </div>
    </div>
  </div>
  <div fxFlex="10"></div>
</div>
