<app-widget-area title="All bottles" Ytitle="Bottles" [allBottles]="this.allBottlesData"></app-widget-area>
<br>

<div align="center"><h1>Tu będzie duży wykres</h1></div>
<br>

<mat-divider></mat-divider>

<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
  <div fxFlex="60">
    <app-widget-linelabel title="Hourly bottles" Ytitle="Bottles" [hourLabels]="this.hourLabels" [hourBottles]="this.hourBottles"  [hourFaults]="this.hourFaults"></app-widget-linelabel>

  </div>

  <div fxFlex="40">
    <app-widget-pie title="Daily bottles" [hourBottles]="this.hourBottles"  [hourFaults]="this.hourFaults"></app-widget-pie>
  </div>
</div>
