<div>
  <app-widget-area title="Factory 1 all time data" [allBottlesX]="this.allBottlesX" [allBottlesY]="this.allBottlesY" [allFaultsX]="this.allFaultsX" [allFaultsY]="this.allFaultsY" [allPowerX]="this.allPowerX" [allPowerY]="this.allPowerY"></app-widget-area>
</div>
<br>

<mat-divider></mat-divider>

<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
  <div fxFlex="60">
    <app-widget-linelabel title="Hourly bottles" Ytitle="Bottles" [hourLabels]="this.hourLabels" [hourBottles]="this.hourBottles"  [hourFaults]="this.hourFaults"></app-widget-linelabel>

  </div>

  <div fxFlex="40">
    <app-widget-pie title="Daily bottles" [hourBottles]="this.hourBottles"  [hourFaults]="this.hourFaults"></app-widget-pie>
  </div>
</div>
